body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;

  &__nav {
    min-width: 300px;
    background-color: #ff0000;
  }

  &__main {
    width: 100%;
    height: 100%;
    background-color: grey;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: green;
  margin-bottom: 20px;

  &__image {
    width: 40px;
    height: 40px;
  }
}

.container {
  padding: 0 8px;
  width: auto;
  overflow-x: auto;

  /* width: auto;
  min-width: 0.01%;
  overflow: auto; */
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
  /* margin: 0 8px; */
  border: 1px solid black;
  box-sizing: border-box;
  /* width: 100%;
  min-width: 750px; */

  display: inline-table;
  width: 1000px;

  /* overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%; */
  
  /* display: block;
  overflow-x: auto;
  white-space: nowrap; */

  &__row {
    background-color: #deddd1;
  }

  &__cell {
    height: 40px;
    text-align: left;
    padding: 0 16px;
    white-space: nowrap;
    /* min-width: 50px; */
  }
}


@media screen and (max-width: 720px) {
  .app {
    flex-direction: column;
  }
}